body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('../images/loginImage.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
